.buttons {
  @include make-col-ready();
  @include make-col(12);
}

.button-item {

  a {
    background: $kidz_green;
    border-radius: 15px;
    clear: both;
    color: $white;
    display: block;
    font-size: 30px;
    margin-top: 40px;
    max-width: 100%;
    padding: 20px 40px;
    text-align: center;
    transition: background 0.5s;
    width: 400px;

    &:hover {
      background: darken($kidz_green, 20%);
    }

  }

  &.orange {
    a {
      background: $kidz_orange;

      &:hover {
        background: darken($kidz_orange, 20%);
      }
    }
  }

  h3 {
    color: $kidz_blue;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

}