.cards {
  @include media-breakpoint-up(lg) {
    text-align: center;
  }
}

.card-item {
  @include make-col-ready();
  @include make-col(12);
  margin-top: 50px;

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(3);
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

.card-title {
  color: $kidz_green;
  font-size: 26px;
  text-align: center;
}

.card-image {
  margin-top: 40px;

  img {
    display: block;
    margin: 0 auto;
    max-width: 140px;
  }

}

.card-content {
  margin-top: 40px;
  text-align: center;
}

