.news-testimonials {
  background: $kidz_grey;
  margin-top: 40px;
  padding: 40px 0 55px 0;
}

.post-items {
  @include make-col-ready();
  @include make-col(12);
  margin-top: 40px;

  @include media-breakpoint-up(lg) {
    @include make-col(6);
  }

  h2 {
    color: $kidz_blue;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }

}

.post-items-read-more {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(lg) {
    @include make-col(6);
    @include make-col-offset(4);
  }

  .buttons {
    padding: 0;
  }

  .button-item {
    a {
      font-size: 26px;
    }
  }

}

.post-item {
  @include make-col(12);
  margin-top: 20px;
}

.post-item-image {
  @include make-col-ready();
  @include make-col(4);
}

.post-item-content {
  @include make-col-ready();
  @include make-col(8);

  h3 {
    color: $kidz_blue;
    font-size: 20px;
    font-weight: 400;
  }

}