/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  h2 {
    background: $kidz_blue;
    color: $white;
    margin-bottom: 0;
    padding: 40px 0 20px 0;
    text-align: center;
  }

  h3.strapline {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    padding: 0 15px;
  }

  .buttons {
    margin-top: 40px;
    a {
      margin: 0 auto;
    }
  }

  .slick-prev {
    display: none;
    position: absolute;
    left: 20px;
    top: 10%;
    transform: translateY(-10%);
    width: 25px;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      top: 15%;
      transform: translateY(-15%);
    }

  }

  .slick-next {
    display: none;
    position: absolute;
    right: 20px;
    top: 10%;
    transform: translateY(-10%);
    width: 25px;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      top: 15%;
      transform: translateY(-15%);
    }

  }

  .slick-dots {
    text-align: center;
    margin-top: 40px;

    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 10px;
    }

    .dot {
      background: darken($kidz_grey, 10%);
      border-radius: 50%;
      box-shadow:1px 1px 5px 2px $kidz_grey;
      display: inline-block;
      height: 20px;
      width: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    .slick-active {
      .dot {
        background: $white;
      }
    }

  }

}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}