.footer-links {
  background: $kidz_blue;
  margin-top: 45px;
  padding: 10px 0 40px 0;
}

.footer-column {
  @include make-col-ready();
  @include make-col(12);
  margin-top: 40px;
  text-align: center;

  @include media-breakpoint-up(md) {
    @include make-col(4);
    display: inline-block;
    float: none;
    text-align: left;
    vertical-align: top;
  }

  @include media-breakpoint-up(xl) {
    @include make-col(2);
    float: none;
  }

  h3 {
    color: $white;
    font-size: 20px;
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    margin-top: 10px;
  }

  a {
    color: $white;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }

}