.footer-language {
  @include make-col-ready();
  @include make-col(12);
}

.footer-language-options {
  margin-top: 40px;

  h3 {
    color: $kidz_blue;
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  ul {
    padding-left: 0;
    margin-top: 10px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }

  }

  li {
    float: left;
    list-style-type: none;
    margin-top: 10px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      float: none;
      width: auto;
    }

  }

  a {
    display: block;
    float: left;
    margin-right: 20px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      float: none;
      width: auto;
    }

  }

}

.footer-copyright {
  margin: 20px 0;
}