.main-logo-background {
  background: $kidz_blue;
  border-bottom: 1px solid $kidz_light_blue;
  padding: 40px 0;
}

.main-logo {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  img {
    max-width: 350px;
  }

}

.main-navigation {
  @include make-col-ready();
  @include make-col(12);

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    display: none;
  }

  li.mobile-toggle {
    display: block;
    margin-top: 20px;
    width: 100%;
  }

  a {
    color: $white;
    transition: color 0.5s;
    width: 100%;

    &:hover {
      color: $kidz_green;
      text-decoration: none;
    }

  }

  @include media-breakpoint-up(lg) {
    @include make-col(8);

    ul {
      text-align: right;
    }

    li {
      display: inline-block;
      float: none;
      margin: 15px 0 0 30px;
      width: auto;

      .new-post {
        background: $kidz_red;
        border-radius: 50%;
        display: inline-block;
        font-size: 12px;
        margin-left: 5px;
        padding: 0 6px;
      }

      .basket-icon {
        display: inline-block;
        margin-right: 15px;
        width: 20px;
      }

      .basket-items {
        color: $kidz_green;
        margin-left: 5px;
      }

    }

    li.mobile-toggle {
      display: none;
    }

  }

  @include media-breakpoint-up(xl) {
    li {
      display: inline-block;
      float: none;
      margin: 15px 0 0 50px;
      width: auto;
    }
  }

}

.main-navigation-show-mobile {

  @include make-col-ready();
  @include make-col(12);

  ul {
    padding: 0;
  }

  li {
    display: block;
    float: left;
    list-style-type: none;
    margin-top: 20px;
    width: 100%;

    .new-post {
      background: $kidz_red;
      border-radius: 50%;
      font-size: 12px;
      padding: 0px 6px;
    }

    .basket-icon {
      display: inline-block;
      margin-right: 15px;
      width: 20px;
    }

    .basket-items {
      color: $kidz_green;
      margin-left: 5px;
    }

  }

  a {
    color: $white;

    &:hover {
      color: $kidz_green;
      text-decoration: none;
    }

  }

}