.top-navigation-background {
  display: none;

  @include media-breakpoint-up(lg) {
    background: $kidz_blue;
    border-bottom: 1px solid $kidz_light_blue;
    display: block;
    padding: 20px 0;

    ul {
      margin-bottom: 0;
      padding-left: 0;
      text-align: right;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin-left: 20px;
    }

    a {
      color: $white;
      transition: color 0.5s;

      &:hover {
        color: $kidz_green;
        text-decoration: none;
      }

    }
  }

}

.top-navigation {
  @include make-col-ready();
  @include make-col(12);
}